# Node.js
node_modules/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# Build output
out/

# Testing
/coverage

# Misc
*.log
.pnpm-store/

# Environment variables
.env
.env.local
.env.production
.env.staging

# Secrets and keys
*.key
*.pem
secrets/
